{% extends "layout.html" %}
{% block title %}{{ title }}{% endblock %}

{% block navBg_class %}bg-white{% endblock %}

{% block logo %}
<a class="logo" href="/">
    <img src="../static/images/logo-dark.png" height="24" class="logo-light-mode" alt="">
    <img src="../static/images/logo-light.png" height="24" class="logo-dark-mode" alt="">
</a>
{% endblock %}

{% block body %}
<!-- Hero Start -->
<section class="bg-half-170 bg-light d-table w-100">
    <div class="container">
        <div class="row mt-5 justify-content-center">
            <div class="col-lg-12 text-center">
                <div class="pages-heading">
                    <h2> Cryptocurrency Investing : A Beginner's Guide </h2>
                    <ul class="list-unstyled mt-4 mb-0">
                        <li class="list-inline-item h6 user text-muted me-2"><i class="mdi mdi-account"></i> Meghan Gardler</li>
                        <li class="list-inline-item h6 date text-muted"><i class="mdi mdi-calendar-check"></i> October 26,2020</li>
                    </ul>
                </div>
            </div><!--end col-->
        </div><!--end row-->
        
        <div class="position-breadcrumb">
            <nav aria-label="breadcrumb" class="d-inline-block">
                <ul class="breadcrumb bg-white rounded shadow mb-0 px-4 py-2">
                    <li class="breadcrumb-item"><a href="/">Landrick</a></li>
                    <li class="breadcrumb-item"><a href="#">Pages</a></li>
                    <li class="breadcrumb-item"><a href="/blogs">Blogs</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Cryptocurrency Investing Beginner's Guide</li>
                </ul>
            </nav>
        </div>
    </div> <!--end container-->
</section><!--end section-->
<!-- Hero End -->

<!-- Shape Start -->
<div class="position-relative">
    <div class="shape overflow-hidden text-white">
        <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
        </svg>
    </div>
</div>
<!--Shape End-->

<!-- Blog STart -->
<section class="section">
    <div class="container">
        <div class="row">
            <!-- BLog Start -->
            <div class="col-12">
                <div class="card blog blog-detail border-0 shadow rounded">
                    <div class="card-body content">
                        <p class="text-muted mt-3 mb-5">If you ask someone if they know what Bitcoin is, they will probably say yes. But if you ask them to explain it, they may suddenly remember an appointment they have to get to immediately. Even seasoned investors are often reluctant to buy crypto because they’re not sure how it works. Cryptocurrency didn’t exist until 2008, so it’s harder for people to comprehend than a more familiar system, like buying stocks and bonds through the stock market. Bitcoin is the most well-known cryptocurrency and has the highest trading volume, and the entire blockchain industry is built on the fundamentals of the original Bitcoin whitepaper. </p>
                        <img src="../static/images/crypto-blog-image.jpg" class="img-fluid rounded-top w-100" alt="">
                        
                        <h6 class="text-primary mt-5 mb-4">WHERE DOES BITCOIN COME FROM?</h6>
                        <p class="text-muted mt-3 mb-3">Bitcoins are produced through a process called mining. Similarly to how miners in the California gold rush sifted through dirt to find gleaming nuggets, Bitcoin miners sift through complicated mathematical puzzles. Or, more accurately, their computers do, as the complicated problems can only be decrypted by robust computer hardware. The puzzles that they solve are the encryption that keeps a Bitcoin transaction secure. </p>
                        <p class="text-muted mb-5">The user assigns this hardware to analyze an encrypted transaction and make sure that it is authentic. The user’s payment for this process is the cryptocurrency that they are analyzing. The blockchain creates the coin to distribute it, and more currency comes onto the market. Bitcoin is often compared to gold because of the finite nature. There will only ever be 21,000,000 Bitcoins in existence. </p>

                        <h6 class="text-primary mt-5 mb-4">WAIT, WHAT’S A BLOCKCHAIN?</h6>
                        <p class="text-muted mt-3">A blockchain is a chain made out of blocks. (Wait, stay with me.) A “block” is what the cryptocurrency world calls a transaction. When a user participates in a transaction, his or her computer sends out a long string of random numbers and letters, sort of like a randomly assigned password on a WiFi network but even longer.</p>
                        <p class="text-muted">The address travels to a global computer network. The computers on that network have to solve a puzzle that determines whether the transaction came from the place and person as it claims it did. Once the network has verified the address by solving the puzzle, it sends the verification information to an even bigger network. The computer on this network that solves the puzzle receives coin in payment, and the transaction is officially verified. </p>
                        <p class="text-muted mb-5">The network then records the results of the verification as a block. The blocks are stored on the network in a sequence, which is the blockchain. </p>

                        <h6 class="text-primary mt-5 mb-4">WHAT’S SO SPECIAL ABOUT A BLOCKCHAIN?</h6>
                        <p class="text-muted mt-3">A traditional database lives in a single physical location, usually either a computer or a server. Even large companies tend to only have three to five backups for their data, and this is why it costs so much money for them to protect it. If those computers are compromised, that data is gone forever.</p>
                        <p class="text-muted">Blockchain, however, backs up its data on thousands of computers all over the world. A file may be stored all in one piece or multiple pieces so that hackers can never get the whole picture. </p>
                        <p class="text-muted">If a hacker does succeed in getting through and changes some data, all of the other computers on the network come together to evaluate the change, as though it were a block. If the rest of the system doesn’t agree that the difference is valid, it is officially rejected and changed back so that all backup computers are in agreement. </p>
                        <blockquote class="blockquote mt-3 p-3">
                            <p class="text-muted mb-0 fst-italic">" Buying cryptocurrency now is mostly a speculative endeavor, in the hopes that it will increase in price. "</p>
                        </blockquote>

                        <h6 class="text-primary mt-5 mb-4">HOW DO I GET STARTED?</h6>
                        <p class="text-muted mt-3">Cryptocurrency investing is not just for anarchists or computer geniuses. Popular cryptocurrency exchanges like Gemini, Binance, and Coinbase work like stock exchanges and make it easy for investors to buy their first tokens.</p>
                        <p class="text-muted">If you intend to buy crypto on an exchange, the sign up process is very similar to what you would experience at TD Ameritrade or Wells Fargo. A centralized exchange will ask for identifying information like your name, address, social security number and more to comply with US regulations. Then, you can link your bank account or securely purchase crypto with a credit card. </p>
                        <p class="text-muted mb-5">Buying cryptocurrency now is mostly a speculative endeavor, in the hopes that it will increase in price. Many of the use cases for cryptocurrencies are unproven, and need more time and development to be widely adopted. Level Capital has a team of experts who are here to help with any barriers to entry. If you are crypto curious or a seasoned investor, we are available to discuss portfolio options. Schedule a call with a wealth manager today. </p>
                    </div>
                </div>
            </div>
            <!-- BLog End -->
        </div><!--end row-->
    </div><!--end container-->
</section><!--end section-->
<!-- Blog End -->
{% endblock %}