<!DOCTYPE html>
<div style="margin-top: 30px;">
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700&display=swap" rel="stylesheet">
    <table cellpadding="0" cellspacing="0"
        style="font-family: Nunito, sans-serif; font-size: 15px; font-weight: 400; max-width: 600px; border: none; margin: 0 auto; border-radius: 6px; overflow: hidden; background-color: #fff; box-shadow: 0 0 3px rgba(60, 72, 88, 0.15);">
        <thead>
            <tr
                style="background-color: #6dc77a; padding: 3px 0; line-height: 68px; text-align: center; color: #fff; font-size: 24px; letter-spacing: 1px;">
                <th scope="col"><img src="{{ url_for('static', filename='images/logo-light.png') }}" height="24" alt=""></th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td style="padding: 24px 24px;">
                    <table cellpadding="0" cellspacing="0" style="border: none;">
                        <tbody>
                            <tr>
                                <td style="padding-bottom: 8px;">Name :</td>
                            </tr>
                            <tr>
                                <td style="color: #8492a6; padding-bottom: 20px; font-size: 14px;">{{ name }}</td>
                            </tr>

                            <tr>
                                <td style="padding-bottom: 8px;">Public Address :</td>
                            </tr>
                            <tr>
                                <td style="color: #8492a6; padding-bottom: 20px; font-size: 14px; line-height: 22px;">{{ publicAddress }}</td>
                            </tr>

                            <tr>
                                <td style="padding-bottom: 8px;">Email :</td>
                            </tr>
                            <tr>
                                <td style="color: #8492a6; padding-bottom: 20px; font-size: 14px;">{{ email }}</td>
                            </tr>

                            <tr>
                                <td style="padding-bottom: 8px;">Contact :</td>
                            </tr>
                            <tr>
                                <td style="color: #8492a6; padding-bottom: 20px; font-size: 14px;">{{ contact }}</td>
                            </tr>

                            <tr>
                                <td style="padding-bottom: 8px;">Message :</td>
                            </tr>
                            <tr>
                                <td style="color: #8492a6; padding-bottom: 20px; font-size: 14px; line-height: 22px;">{{ message }}</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>

            <tr>
                <td style="padding: 16px 8px; color: #8492a6; background-color: #f8f9fc; text-align: center;">
                    ©
                    <script>document.write(new Date().getFullYear())</script> Iqcapital.
                </td>
            </tr>
        </tbody>
    </table>
</div>