{% extends "layout.html" %}
{% block title %}{{ title }}{% endblock %}

{% block navTextColor_class %}nav-light{% endblock %}

{% block logo %}
<a class="logo" href="/">
    <span class="logo-light-mode">
        <img src="../static/images/logo-dark.png" class="l-dark" height="24" alt="">
        <img src="../static/images/logo-light.png" class="l-light" height="24" alt="">
    </span>
    <img src="../static/images/logo-light.png" height="24" class="logo-dark-mode" alt="">
</a>
{% endblock %}

{% block body %}
<!-- Hero Start -->
<section class="bg-half-260 bg-light bg-animation-left crypto-home d-table w-100">
    <div class="container position-relative" style="z-index: 1;">
        <div class="row mt-5 mt-sm-0 justify-content-center">
            <div class="col-lg-10">
                <div class="title-heading text-center">
                    <img src="../static/images/crypto.svg" height="136" class="mover" alt="">
                    <h1 class="heading text-primary text-shadow-title mt-4 mb-3">Know Your Token's Best Yields!</h1>
                </div>
                <div class="text-center subcribe-form mt-4 pt-2">
                    <form action="/apiCall" method="get">
                        {% if error %}
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            <strong>Error!</strong> {{ error }}.
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                        {% endif %}

                        <input type="text" id="public-address" name="public-address" class="rounded-pill bg-white-50 border" placeholder="Enter Public Address :" value="{{ publicAddress }}">
                        <button type="submit" class="btn btn-pills btn-primary">Submit <i class="uil uil-arrow-right"></i></button>
                    </form><!--end form-->
                </div>
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container--> 
</section><!--end section-->
<!-- Hero End -->

{% if results %}
<!-- FEATURES START -->
<section class="section border-top pb-0">
    <!-- Table Start -->
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="table-responsive features-absolute bg-white shadow-md rounded-md">
                    <table class="table mb-0 table-center">
                        <thead>
                            <tr>
                                <th scope="col" class="fw-normal border-bottom text-muted py-4 px-3" style="min-width: 250px;">Token</th>
                                <th scope="col" class="fw-normal border-bottom text-muted py-4 px-3" style="width: 150px;">Base</th>
                                <th scope="col" class="fw-normal border-bottom text-muted py-4 px-3" style="width: 150px;">APY</th>
                                <th scope="col" class="fw-normal border-bottom text-muted py-4 px-3" style="width: 150px;">TVL</th>
                                <th scope="col" class="fw-normal border-bottom text-muted py-4 px-3" style="width: 150px;">Risk</th>
                                <th scope="col" class="fw-normal border-bottom text-muted py-4 px-3 text-end" style="width: 100px;">Link</th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for result in results %}  
                            <tr>
                                <th class="p-3">
                                    <div class="align-items-center">
                                        <img src="../static/images/ethereum.png" class="me-3" height="32" alt="">
                                        <p class="mt-2 d-inline fw-normal h6">Ethereum <span class="text-muted">{{ result.tokens[0] }}</span> </p>
                                    </div>
                                </th>
                                <td class="p-3">{{ result.base }}</td>
                                <td class="text-success p-3">{{ result.APY }}</td>
                                <td class="text-success p-3">{{ result.TVL }}</td>
                                <td class="text-muted p-3">{{ result.risk }}</td>
                                <td class="p-3 text-end"><a href="{{ result.link }}" class="btn btn-sm btn-primary">Link</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table><!--end table-->
                </div>

                <div class="text-center mt-4">
                    <a class="text-muted" href="javascript:void(0)" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
                        Contact Advisor <i class="uil uil-arrow-right"></i>
                    </a>
                </div>
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->
    <!-- Table End -->
</section><!--end section-->
<!-- Section END -->
{% endif %}  

<!-- Start -->
<section class="section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 col-md-6">
                <div class="position-relative">
                    <img src="../static/images/about.jpg" class="img-fluid mx-auto d-block shadow rounded" alt="">
                </div>
            </div><!--end col-->

            <div class="col-lg-7 col-md-6 mt-4 mt-sm-0 pt-2 pt-sm-0">
                <div class="section-title ms-lg-5">
                    <h4 class="title mt-3 mb-4">Who we are?</h4>
                    <p class="text-muted para-desc">A few years ago a group of friends began comparing notes about the quality of advice they were receiving from financial services providers about their cryptocurrency assets. What started as conversations looking to solve complex tax, regulatory and financial wellbeing issues, led to the realization that the kind of firm they were looking for simply did not exist. So they decided to build it.</p>

                    <div class="mt-4">
                        <a href="/about" class="btn btn-primary">More About</a>
                    </div>
                </div>
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->

    <div class="container mt-100 mt-60">
        <div class="row align-items-end pb-2">
            <div class="col-md-8">
                <div class="section-title text-center text-md-start">
                    <h4 class="title">Built For</h4>
                </div>
            </div><!--end col-->
        </div><!--end row-->

        <div class="row">
            <div class="col-md-4 pt-2">
                <ul class="nav nav-pills nav-justified flex-column bg-white rounded shadow p-3 mb-0 sticky-bar" id="pills-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link rounded active" id="dentalcare" data-bs-toggle="pill" href="#dental" role="tab" aria-controls="dental" aria-selected="false">
                            <div class="text-start py-1 px-2">
                                <h6 class="mb-0">Clients</h6>
                            </div>
                        </a><!--end nav link-->
                    </li><!--end nav item-->
                    
                    <li class="nav-item mt-2">
                        <a class="nav-link rounded" id="cardeography" data-bs-toggle="pill" href="#cardeo" role="tab" aria-controls="cardeo" aria-selected="false">
                            <div class="text-start py-1 px-2">
                                <h6 class="mb-0">Institutions</h6>
                            </div>
                        </a><!--end nav link-->
                    </li><!--end nav item-->
                    
                    <li class="nav-item mt-2">
                        <a class="nav-link rounded" id="eyecare" data-bs-toggle="pill" href="#eye" role="tab" aria-controls="eye" aria-selected="false">
                            <div class="text-start py-1 px-2">
                                <h6 class="mb-0">Partners</h6>
                            </div>
                        </a><!--end nav link-->
                    </li><!--end nav item-->
                </ul><!--end nav pills-->
            </div><!--end col-->

            <div class="col-md-8 col-12 mt-4 pt-2">
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade bg-white show active p-4 rounded shadow" id="dental" role="tabpanel" aria-labelledby="dentalcare">
                        <img src="../static/images/clients.jpg" class="img-fluid rounded shadow" alt="">
                        <div class="mt-4">
                            <h5 class="mb-4">Built for Bitcoin Billionaires</h5>

                            <p class="text-primary mb-1 fw-bold">Active, timely and decisive portfolio management</p>
                            <p class="text-muted mb-3">A discretionary manager is able to make rapid adjustments to a client's portfolio in the event of market shifts. With crypto markets never closing, you always have someone watching your porfolilio.</p>

                            <p class="text-primary mb-1 fw-bold">Access to institutional investor products</p>
                            <p class="text-muted mb-3">Iqcapital has access to many products normally only available to institutions or hedge funds and can negotiate attractive terms while offering the lowest cost investment options for our clients.</p>

                            <p class="text-primary mb-1 fw-bold">Focused on unique needs of affluent crypto holders</p>
                            <p class="text-muted mb-3">We understand the complicated tax situations, life events, privacy concerns, and international lifestyle of high net worth crypto holders. Let us turn your challenges into opportunities.</p>

                            <p class="text-primary mb-1 fw-bold">Enhanced portfolio reporting and tax documentation</p>
                            <p class="text-muted mb-3">We start with an in-depth analysis of your needs, expectations and risk tolerance, so we can work together to optimize your portfolio. We work with you over time, and are always available to discuss your portfolio.</p>
                            
                        </div>
                    </div><!--end teb pane-->
                    
                    <div class="tab-pane fade bg-white p-4 rounded shadow" id="cardeo" role="tabpanel" aria-labelledby="cardeography">
                        <img src="../static/images/institutions.jpg" class="img-fluid rounded shadow" alt="">
                        <div class="mt-4">
                            <h5 class="mb-4">Built for Institutions</h5>
                            <p class="text-muted mb-3">As a trusted cryptocurrency private wealth manager, our singular goal is to provide the most reliable, high touch, high quality solution for our institutional clients who want exposure to cryptocurrency with minimal risk. We beat traditional financial service institutions, who are typically slow to adopt new and innovative approaches, who are not incentivized to respond to their customers’ ever-changing needs, and who aren’t working to win your business and your trust every day. Whether you have a hefty balance sheet to manage, looking for arbitrage opportunities, or looking for tax optimization, you can turn to Level to help manage your goals, no matter how complex they may be. We have the expertise to understand your needs, because as investors we experience the same complexities.</p>
                        </div>
                    </div><!--end teb pane-->

                    <div class="tab-pane fade bg-white p-4 rounded shadow" id="eye" role="tabpanel" aria-labelledby="eyecare">
                        <img src="../static/images/partners.jpg" class="img-fluid rounded shadow" alt="">
                        <div class="mt-4">
                            <h5 class="mb-4">Built for Partners</h5>
                            <p class="text-muted mb-3">Iqcapital is a one stop shop for the Crypto Asset Management Revolution. Together with our partners - the technology companies and financial institutions pioneering the blockchain technology movement - we are rebuilding the world of finance. Level has pioneered many asset management techniques that are more common to traditional financial services, and adapted it to cryptocurrency portfolio management. We turn blockchain projects into investable assets so our partners don’t have to take risks they don’t want to or spend money they don’t have.</p>
                        </div>
                    </div><!--end teb pane-->
                </div><!--end tab content-->
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->
</section><!--end section-->
<!-- End -->

<!-- Section start -->
<section class="section pt-0">
    <!-- Rate Start -->
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                <div>
                    <div class="section-title mb-4 pb-2">
                        <h4 class="title">Frequently asked questions</h4>
                    </div>

                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item rounded">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button border-0 bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                                    aria-expanded="true" aria-controls="collapseOne">
                                    How does it work ?
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse border-0 collapse show" aria-labelledby="headingOne"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body text-muted bg-white">
                                    <p>When it comes to protecting your assets, Iqcapital utilizes an ‘All-Weather Approach’ to manage market and credit risk. That means actively managing allocations to various strategies based on market conditions.</p>

                                    <p class="text-primary mb-0"><span class="fw-bold">01</span> Reputable Partners And Consultants</p>
                                    <p>Iqcapital’s portfolio risk and strategies are managed via partnerships with established and reputable counterparties.</p>

                                    <p class="text-primary mb-0"><span class="fw-bold">02</span> Operational Due Diligence</p>
                                    <p>Iqcapital applies a robust operational due diligence framework for all counterparties to ensure a clean financial audit and internal controls.</p>

                                    <p class="text-primary mb-0"><span class="fw-bold">03</span> Credit Due Diligence</p>
                                    <p>Company’s underwriting process applies traditional bank style standards and due diligence practices. This is further supported by standard invest committee practices, robust reporting practices, and approvals.</p>

                                    <p class="text-primary mb-0"><span class="fw-bold">04</span> Diversified Portfolio</p>
                                    <p>Iqcapital takes an all weather approach to risk management. We manage to various risk factors that offset each other in quickly changing markets. Third party consultants have been brought on board to assess risk levels and strategic direction.</p>

                                    <p class="text-primary mb-0"><span class="fw-bold">05</span> Seasoned Advisors</p>
                                    <p>Company has discretionary managers with over 30 years of financial services and banking experience with a deep knowledge of DeFi.</p>

                                    <p class="text-primary mb-0"><span class="fw-bold">06</span> Fee Schedule</p>
                                    <p>Iqcapital offers a fee-only advisory service, which is not only low-cost but free of the conflicts of interest that are often created by commission models.</p>
                                </div>
                            </div>
                        </div>
                        
                        <div class="accordion-item rounded mt-2">
                            <h2 class="accordion-header" id="headingTwo">
                                <button class="accordion-button border-0 bg-light collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                                    aria-expanded="false" aria-controls="collapseTwo">
                                    What is Iqcapital's approach ?
                                </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse border-0 collapse" aria-labelledby="headingTwo"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body text-muted bg-white">
                                    <p>Drawing on over 30 years of experience working with the world’s leading businesses, entrepreneurs and institutions, we aim to advance the success of our clients and broaden individual prosperity.</p>

                                    <p class="text-primary mb-0"><span class="fw-bold">01</span> Focused On The Unique Needs Of Affluent Crypto Holders</p>
                                    <p>Through our CIO team, we offer you portfolio management and multiple solutions, supported by expertise in the multi-faceted financial world. We understand the complicated tax situation, life events, privacy concerns, and international lifestyle of cryptocurrency holders.</p>

                                    <p class="text-primary mb-0"><span class="fw-bold">02</span> A Personal Relationship With A Team Of Experts</p>
                                    <p>We start with an in-depth analysis of your needs, expectations and risk tolerance, so we can work together to optimize your portfolio. Your own dedicated, specialist Discretionary Wealth Manager works with you over time, and is always available to discuss your portfolio.</p>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item rounded mt-2">
                            <h2 class="accordion-header" id="headingThree">
                                <button class="accordion-button border-0 bg-light collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    How Iqcapital do asset management ?
                                </button>
                            </h2>
                            <div id="collapseThree" class="accordion-collapse border-0 collapse" aria-labelledby="headingThree"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body text-muted bg-white">
                                    <p>Iqcapital shows a proven track record of asset management in both the DeFi and traditional finance worlds.</p>

                                    <p class="text-primary mb-0"><span class="fw-bold">01</span> Collateralized Or Guaranteed Lending</p>
                                    <p>For crypto-based lending, Iqcapital requires corporate guarantees sufficient to ensure coverage of principal loan amounts. We do not lend to short sellers to avoid outsized credit risk in volatile markets.</p>

                                    <p class="text-primary mb-0"><span class="fw-bold">02</span> Layers Of Risk Management</p>
                                    <p>Iqcapital performs daily risk management assessments and has real-time market monitoring 24/7. Reserve accounts are in place to support trading activities and all crypto positions are hedged, always with high collateral requirements and against solid counter parties.</p>

                                    <p class="text-primary mb-0"><span class="fw-bold">03</span> Institutional Framework</p>
                                    <p>Iqcapital adopts best practices related to risk management and lending on an institutional level. Our capital markets team has decades of experience from top Wall Street firms.</p>

                                    <p class="text-primary mb-0"><span class="fw-bold">04</span> Regulatory</p>
                                    <p>Iqcapital takes a conservative approach to compliance and utilizes a top tier compliance team which includes periodic outside audits. Our service providers include top legal, consulting, servicing, and other professional advisors.</p>

                                    <p class="text-primary mb-0"><span class="fw-bold">05</span> Insurance</p>
                                    <p>Our DeFi non-custodial solution through Fireblocks ensures that smart contracts on the Ethereum blockchain provide an added layer of security and no counterparty risk. For custodial solutions, Fireblocks employs a comprehensive insurance policy up to $30M that covers assets in storage, transfer and E&amp;O.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--end row-->
    </div><!--end container-->
    <!-- Rate End -->
</section><!--end section-->
<!-- Section End -->
{% endblock %}