<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- favicon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <!-- Icons -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/materialdesignicons.min.css') }}">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v3.0.6/css/line.css">
    <!-- Main Css -->
    <link rel="stylesheet" type="text/css" id="theme-opt" href="{{ url_for('static', filename='css/theme.css') }}">
    <link rel="stylesheet" id="color-opt" href="{{ url_for('static', filename='css/colors/green.css') }}">
    
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <!-- Loader --> 
    <div id="preloader">
        <div id="status">
            <div class="spinner">
                <div class="double-bounce1"></div>
                <div class="double-bounce2"></div>
            </div>
        </div>
    </div>
    <!-- Loader -->
    
    <!-- Navbar STart -->
    <header id="topnav" class="defaultscroll sticky {% block navBg_class %}{% endblock %} bg-white">
        <div class="container">
            <!-- Logo container-->
            {% block logo %}{% endblock %}

            <!-- End Logo container-->
            <div class="menu-extras">
                <div class="menu-item">
                    <!-- Mobile menu toggle-->
                    <a class="navbar-toggle" id="isToggle" onclick="toggleMenu()">
                        <div class="lines">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </a>
                    <!-- End mobile menu toggle-->
                </div>
            </div>

            <!--Login button Start-->
            <ul class="buy-button list-inline mb-0">
                <li class="list-inline-item mb-0">
                    <a class="btn btn-primary" href="javascript:void(0)" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
                        Know Your Best Yields
                    </a>
                </li>
            </ul>
            <!--Login button End-->
    
            <div id="navigation">
                <!-- Navigation Menu-->   
                <ul class="navigation-menu nav-right {% block navTextColor_class %}{% endblock %}">
                    <li><a href="/" class="sub-menu-item">Home</a></li>
                    <li><a href="/about" class="sub-menu-item"> About Us</a></li>
                    <li><a href="/trust" class="sub-menu-item">Trust</a></li> 
                </ul><!--end navigation menu-->
            </div><!--end navigation-->
        </div><!--end container-->
    </header><!--end header-->
    <!-- Navbar End -->
    
    {% block body %}{% endblock %}

    <!-- Contact Start -->
    <section class="section pt-0" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title mb-4 pb-2">
                        <h4 class="title" data-aos="fade-up" data-aos-duration="1000">Get In Touch !</h4>
                    </div>
                </div><!--end col-->
            </div><!--end row-->

            <div class="row">
                <div class="col-lg-7 col-md-6 mt-4 pt-2 order-1 order-md-2">
                    <div class="title-heading ms-lg-4">
                        <h4 class="mb-4" data-aos="fade-up" data-aos-duration="1000">Join the first crypto wealth management firm</h4>
                        <p class="text-muted" data-aos="fade-up" data-aos-duration="1400">Your cryptocurrency assets are under more pressure than ever and your time is precious. Start drawing on our 20 years of experience working with the world’s leading businesses, entrepreneurs and institutions to advance your own success.</p>
                        <div class="card border-0 bg-transparent">
                            <div class="card-body p-0">
                                <h6>Please send us your contact details, questions or requests:</h6>
                                <ul class="text-muted">
                                    <li>Use our free tools and warnings to instantly increase yields of the tokens you are holding.</li>
                                    <li>Start optimizing your portfolio with your own dedicated, specialist Discretionary Wealth Manager.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div><!--end col-->
                
                <div class="col-lg-5 col-md-6 mt-4 pt-2 order-2 order-md-1">
                    <div class="card rounded shadow border-0" data-aos="fade-up" data-aos-duration="1000">
                        <div class="card-body">
                            <div class="custom-form bg-white">
                                <form>
                                    <p id="error-msg" class="mb-0"></p>
                                    <div id="simple-msg"></div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label class="form-label">Your Name</label>
                                                <div class="form-icon position-relative">
                                                    <i data-feather="user" class="fea icon-sm icons"></i>
                                                    <input name="name" id="name2" type="text" class="form-control ps-5" placeholder="Name :">
                                                </div>
                                            </div>
                                        </div><!--end col-->

                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label class="form-label">Your Contact</label>
                                                <div class="form-icon position-relative">
                                                    <i data-feather="phone" class="fea icon-sm icons"></i>
                                                    <input name="contact-number" type="number" class="form-control ps-5" placeholder="Contact :">
                                                </div>
                                            </div> 
                                        </div><!--end col-->

                                        <div class="col-12">
                                            <div class="mb-3">
                                                <label class="form-label">Your Email <span class="text-danger">*</span></label>
                                                <div class="form-icon position-relative">
                                                    <i data-feather="mail" class="fea icon-sm icons"></i>
                                                    <input name="email" id="email2" type="email" class="form-control ps-5" placeholder="Email :">
                                                </div>
                                            </div> 
                                        </div><!--end col-->

                                        <div class="col-12">
                                            <div class="mb-3">
                                                <label class="form-label">Your Public Address</label>
                                                <div class="form-icon position-relative">
                                                    <i data-feather="dollar-sign" class="fea icon-sm icons"></i>
                                                    <input name="public-address" class="form-control ps-5" placeholder="Public Address :" value="{{ publicAddress }}">
                                                </div>
                                            </div>
                                        </div><!--end col-->
    
                                        <div class="col-12">
                                            <div class="mb-3">
                                                <label class="form-label">Subject</label>
                                                <div class="form-icon position-relative">
                                                    <i data-feather="book" class="fea icon-sm icons"></i>
                                                    <input name="subject" id="subject" class="form-control ps-5" placeholder="subject :">
                                                </div>
                                            </div>
                                        </div><!--end col-->
    
                                        <div class="col-12">
                                            <div class="mb-3">
                                                <label class="form-label">Your Message</label>
                                                <div class="form-icon position-relative">
                                                    <i data-feather="message-circle" class="fea icon-sm icons clearfix"></i>
                                                    <textarea name="message" rows="4" class="form-control ps-5" placeholder="Message :"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="d-grid">
                                                <button type="submit" class="btn btn-primary send-message-btn">Send Message</button>
                                            </div>
                                        </div><!--end col-->
                                    </div><!--end row-->
                                </form><!--end form--> 
                            </div><!--end custom-form-->
                        </div>
                    </div>
                </div><!--end col-->
            </div><!--end row-->
        </div><!--end contact-->
    </section><!--end section-->
    <!-- Contact End -->
    
    <!-- Footer Start -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="footer-py-60 footer-border">
                        <div class="row">
                            <div class="col-lg-4 col-12 mb-0 mb-md-4 pb-0 pb-md-2">
                                <a href="/" class="logo-footer">
                                    <img src="{{ url_for('static', filename='images/logo-light.png') }}" height="24" alt="">
                                </a>
                                <p class="mt-4">You were smart enough to build your net worth, we are qualified to keep it there.</p>
                            </div><!--end col-->
                            
                            <div class="col-lg-2 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                                <h5 class="footer-head">Usefull Links</h5>
                                <ul class="list-unstyled footer-list mt-4">
                                    <li><a href="/" class="text-foot"><i class="uil uil-angle-right-b me-1"></i> Home</a></li>
                                    <li><a href="/about" class="text-foot"><i class="uil uil-angle-right-b me-1"></i> About Us</a></li>
                                    <li><a href="/trust" class="text-foot"><i class="uil uil-angle-right-b me-1"></i> Trust</a></li>
                                </ul>
                            </div><!--end col-->
        
                            <div class="col-lg-4 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0 ms-auto">
                                <h5 class="text-light footer-head">Request Contact from an Advisor</h5>
                                <small class="d-block"><a href="#" class="text-foot fw-medium" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Contact us <i class="uil uil-arrow-right"></i></a></small>
                            </div><!--end col-->
                        </div><!--end row-->
                    </div>
                </div><!--end col-->
            </div><!--end row-->
        </div><!--end container-->

        <div class="footer-py-30 footer-bar">
            <div class="container text-center">
                <div class="row align-items-center">
                    <div class="col-sm-6">
                        <div class="text-sm-start">
                            <p class="mb-0">© <script>document.write(new Date().getFullYear())</script> Iqcapital. Developed by <a href="https://breakint.com/" target="_blank" class="text-reset">Breakint</a>.</p>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end container-->
        </div>
    </footer><!--end footer-->
    <!-- Footer End -->

    <!-- Offcanvas Start -->
    <div class="offcanvas offcanvas-end bg-white shadow" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
        <div class="offcanvas-header p-4 border-bottom">
            <h5 id="offcanvasRightLabel" class="mb-0">
                <img src="{{ url_for('static', filename='images/logo-dark.png') }}" height="24" class="light-version" alt="">
                <img src="{{ url_for('static', filename='images/logo-light.png') }}" height="24" class="dark-version" alt="">
            </h5>
            <button type="button" class="btn-close d-flex align-items-center text-dark" data-bs-dismiss="offcanvas" aria-label="Close"><i class="uil uil-times fs-4"></i></button>
        </div>
        <div class="offcanvas-body p-4">
            <div class="row">
                <div class="col-12">
                    <h6 class="fw-bold">Contact us to optimize your yields</h6>
                    <ul>
                        <li>Get a dedicated Wealth Manager</li>
                        <li>Use free tools to increase returns</li>
                        <li>Draw on our crypto expertise</li>
                    </ul>
                    <div class="card border-0 mt-5" style="z-index: 1">
                        <div class="card-body p-0">
                            <form method="post" name="myForm" id="send-message-form" action="/sendMail">
                                <p id="error-msg" class="mb-0"></p>
                                <div id="simple-msg"></div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="mb-3">
                                            <label class="form-label">Your Name</label>
                                            <div class="form-icon position-relative">
                                                <i data-feather="user" class="fea icon-sm icons"></i>
                                                <input name="name" type="text" class="form-control ps-5" placeholder="Name :">
                                            </div>
                                        </div>
                                    </div><!--end col-->

                                    <div class="col-12">
                                        <div class="mb-3">
                                            <label class="form-label">Your Email <span class="text-danger">*</span></label>
                                            <div class="form-icon position-relative">
                                                <i data-feather="mail" class="fea icon-sm icons"></i>
                                                <input name="email" type="email" class="form-control ps-5" placeholder="Email :">
                                            </div>
                                        </div> 
                                    </div><!--end col-->

                                    <div class="col-12">
                                        <div class="mb-3">
                                            <label class="form-label">Your Contact</label>
                                            <div class="form-icon position-relative">
                                                <i data-feather="phone" class="fea icon-sm icons"></i>
                                                <input name="contact-number" type="number" class="form-control ps-5" placeholder="Contact :">
                                            </div>
                                        </div> 
                                    </div><!--end col-->

                                    <div class="col-12">
                                        <div class="mb-3">
                                            <label class="form-label">Your Public Address</label>
                                            <div class="form-icon position-relative">
                                                <i data-feather="dollar-sign" class="fea icon-sm icons"></i>
                                                <input name="public-address" class="form-control ps-5" placeholder="Public Address :" value="{{ publicAddress }}">
                                            </div>
                                        </div>
                                    </div><!--end col-->

                                    <div class="col-12">
                                        <div class="mb-3">
                                            <label class="form-label">Subject</label>
                                            <div class="form-icon position-relative">
                                                <i data-feather="book" class="fea icon-sm icons"></i>
                                                <input name="subject" id="subject" class="form-control ps-5" placeholder="subject :">
                                            </div>
                                        </div>
                                    </div><!--end col-->

                                    <div class="col-12">
                                        <div class="mb-3">
                                            <label class="form-label">Your Message</label>
                                            <div class="form-icon position-relative">
                                                <i data-feather="message-circle" class="fea icon-sm icons clearfix"></i>
                                                <textarea name="message" rows="4" class="form-control ps-5" placeholder="Message :"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="d-grid">
                                            <button type="submit" class="btn btn-primary send-message-btn">Send Message</button>
                                        </div>
                                    </div><!--end col-->
                                </div><!--end row-->
                            </form>
                        </div>
                    </div>
                </div><!--end col-->
            </div><!--end row-->
        </div>
    </div>
    <!-- Offcanvas End -->

    <!-- Back to top -->
    <a href="#" onclick="topFunction()" id="back-to-top" class="back-to-top fs-5"><i data-feather="arrow-up" class="fea icon-sm icons align-middle"></i></a>
    <!-- Back to top -->

    <!-- javascript -->
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <!-- Icons -->
    <script src="{{ url_for('static', filename='js/feather.min.js') }}"></script>
    <!-- ethers-5.2 -->
    <script src="{{ url_for('static', filename='js/ethers-5.2.umd.min.js') }}"></script>
    <!-- Main Js -->
    <script src="{{ url_for('static', filename='js/app.js') }}"></script><!--Note: All important javascript like page loader, menu, sticky menu, menu-toggler, one page menu etc. -->
</body>
</html>